* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner, #question, #score-card {
    width: 60%;
    height: 500px;
    background-color: teal;
    border-radius: 2px;
    padding: 20px;
    transition: all 0.5s;
}
#question, #score-card {
    display: none;
    opacity: 0;
    background-color: chartreuse;
    z-index: 1;
}
#flash {
    display: none;
    opacity: 0;
    position: absolute;
    width: 300px;
    margin: auto;
    background-color: #1abc9c;
    height: 120px;
    transition: all 1s;
    z-index: 2;
}

#score-card {
    z-index: 3;
};